body{
  background-color: rgb(239, 71, 111);
  font-family: sans-serif;
  /* fcf6bd */
}
.navbar{
  background-color: #a9def9;
  
  height:10vh;
  font-family: Garamond , sans-serif


}

.article-container{
  /* background-color: rgba(239, 71, 111,0.5); */

  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Garamond , sans-serif;
  /* margin:0 100px; */
  
}